# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

# Matches multiple files with brace expansion notation
# Set default charset
[*.{sh,go}]
charset = utf-8
# TODO: it seems gofmt use tab instead of space for golang code, the only trouble for using tab is yaml
# indent_style = space

[{.travis.yml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
