# disable auto crlf
* text=false

# force lf for sh, go, yml
*.sh text eol=lf
*.go eol=lf
.gitignore eol=lf
.gitattributes eol=lf
*.yml eol=lf
*.md eol=lf
*.html eol=lf
*.js eol=lf
*.ts eol=lf
*.css eol=lf
*.json eol=lf

# force encoding for sh, go
*.sh encoding=utf-8
*.go encoding=utf-8
