package log

import (
    "fmt"
    "time"
)

{{ range .}}
func (l *Logger) Is{{.}}Enabled() bool {
    return l.level >= {{.}}Level
}

func (l *Logger) {{.}}(args ...interface{}) {
	if l.level >= {{.}}Level {
		l.h.HandleLog({{.}}Level, time.Now(), fmt.Sprint(args...))
	}
}

func (l *Logger) {{.}}f(format string, args ...interface{}) {
	if l.level >= {{.}}Level {
		l.h.HandleLog({{.}}Level, time.Now(), fmt.Sprintf(format, args...))
	}
}

func (l *Logger) {{.}}F(msg string, fields Fields) {
    if l.level >= {{.}}Level {
        l.h.HandleLogWithFields({{.}}Level, time.Now(), msg, fields)
    }
}
{{ end }}